* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-white);
}

.section {
  max-width: var(--grid-width);
  margin: 10rem auto;
  padding: var(--section-padding-desktop);
  color: var(--color-black);

  @include respond(tab-port) {
    padding: var(--section-padding-tabport);
  }
}
