:root {
  --color-primary: #50ade4;
  --color-secondary: #ee068f;
  --color-tertiary: #f17027;
  --color-font-grey-dark: #777;
  --color-font-grey-dark-2: #999;
  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --grid-width: 130rem;

  --section-padding-desktop: 0 10rem;
  --section-padding-tabport: 0 1.3rem;
}
$color-primary: #ea3a60;
$color-primary-dark: #f71647;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-light-grey-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #eeeeee;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$logo-color: #02073e;
$max-width: 130rem;

$font-weight-heavy-3: 700;
$font-weight-heavy-2: 600;
$font-weight-heavy-1: 500;

$font-weight-light-3: 500;
$font-weight-heavy-1: 500;
$font-weight-heavy-1: 500;
$color-light-grey-1: #f7f7f7;
