@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/base.scss";
@import "./styles/section-heading.scss";
@import "./styles/navbar.scss";
@import "./styles/howitworks.scss";

.hero__container {
  min-height: 85vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./hero-optimized.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .hero__content {
    max-width: 65rem;
    padding: 3rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5rem;

    @include respond(tab-port) {
      margin-top: 6rem;
    }

    @media screen and (max-height: 700px) {
      margin-top: 2rem;
    }
    .hero__text--primary {
      @include respond(tab-port) {
        font-size: 3.5rem;
      }

      @media screen and (max-height: 750px) {
        margin-top: 2rem;
      }
    }

    .hero__text--secondary {
      @include respond(tab-port) {
        font-size: 2rem;
      }
    }

    .hero__text--paragraph {
      @media screen and (max-height: 750px) {
        font-size: 1.3rem;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: background-color 0.5s ease;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@include respond(tab-port) {
  .hero__container {
    height: 75vh;

    .hero__image {
      // object-fit: fill;
      object-position: top left;
    }
  }
}

@import "./styles/about.scss";
@import "./styles/contact.scss";
@import "./styles/footer.scss";
